* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Archivo Black', sans-serif;}

@font-face {
  font-family:'Archivo Black', sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet)
}

header {
  position: relative;
  height: 70px;
}

header a {
  position: absolute;
  top: 20px;
  margin-left: 10px;
  font-size: 37px;
  text-decoration: none;
  color: #555555;
}

header p {
  position: absolute;
  top: 40px;
  right: 0px;
  margin: 0px 25px 0px 0px;
  letter-spacing: 3px;
  
}

nav {
  display: flex;
  color: #fff;
  background-color: #4CAF50;
  height: 57px;
  box-shadow: 0 1px 5px grey;
  text-align: center;
}

.nav-site-ref {
  display: inherit;
  margin-right: auto;
}

.nav-site-ref > a {
  width: 200px;
  margin: auto;
  margin-left: 10px;
  font-style: normal;
  letter-spacing: 3px;
  text-align: justify;
}

.nav-site-ref > a::after {
  content: '\e809';
}

.nav-lang-search {
  display: inherit;
  height: 100%;
}

.nav-lang-search a {
  margin: auto;
  width: 80px;
  font-size: 30px;
}

.nav-lang-search i: 
